html{
    font-size:90%; 
}

body {
    width: 98%;
}

.button,
.button1,
.logo_text,
.menu,
.login1,
.preview1,
.preview2,
.section_text,
.section_name,
.section_name1,
.section2_block_name,
.section2_block_name1,
.section3_blocks_text,
.section3_blocks_text1,
.nav1,
.footer1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2em 0em 1em 3em;
    grid-gap: 2em;
}

.logo {
    align-items: center;
    padding-bottom: 1em;
}

.logo_text {
    color: var(--black, #191825);
    font-size: 1.7rem;
    font-weight: 900;
    margin-left: 8px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration: none;
}

.menu1 {
    color: #222831;
}

.menu2 {
    color: rgba(25, 24, 37, 0.50);
}

.menu1,
.menu2 {
    text-decoration: none;
}

.login {
    margin-left: 4em;
}

.login1 {
    color: #222831;
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration: none;
}

.button {
    color: #EEE;
    font-size: 0.8em;
    font-weight: 700;
    border-radius: 1em;
    background: #5D50C6;
    padding: 1em 2em;
    margin-left: 1em;
    border: 0;
}

.button1 {
    color: #222831;
    font-size: 0.8rem;
    font-weight: 700;
    border-radius: 1em;
    border: 1px solid #EEE;
    background: #FFF;
    padding: 1.1em 2.2em;
}

.preview1 {
    color: #000;
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}

.preview2 {
    color: #F85E9F;
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}

.preview {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2em 0px 5em 3em;

}

.section_text {
    color: rgba(25, 24, 37, 0.50);
    font-size: 1rem;
    font-weight: 400;
}

.preview_image {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
}

.preview__image1,
.preview__image2,
.preview__image3 {
        width: 100%;
        max-width: 100%;
}

.preview__image1 {
    grid-area: 1/1/4/3;
}

.preview__image2 {
    grid-area: 4/1/7/3;
}

.preview__image3 {
    grid-area: 2/3/6/5;
    margin: 2em;
}

.section2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2em 0em 1em 3em;
}

.section_name {
    color: #F85E9F;
    font-size: 1.5vw;
    font-weight: 700;
    letter-spacing: 4.6px;
    text-transform: uppercase;
}

.section_name1 {
    color: #191825;
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

.section2_block1 {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    justify-items: center;
}

.section2_block_name {
    color: #191825;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.section2_block_name1 {
    color: rgba(25, 24, 37, 0.50);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.section2_block2 {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    justify-items: center;
}

.section3 {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    padding: 2em 4em 1em 3em;
}

.pictContainer {
    width: 100%;
}

.pict {
    width: 100%;
    max-width: 100%;
}

.section3_block1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em 1em;
}

.section3_blocks {
    border-radius: 1em;
    border: 1px solid rgba(25, 24, 37, 0.10);
    background: #FFF;
    padding: 5%;
}

.section3_blocks_text {
    color: #FF5722;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 120%; /* 42px */
    text-align: center;
}

.section3_blocks_text1 {
    color: #191825;
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
    text-align: center;
}

.footer {
    padding: 2em 0px 1em 3em;;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer1 {
    color: rgba(25, 24, 37, 0.50);
    font-size: 0.8rem;
    font-weight: 400;
    padding-top: 1em;
}

.footer2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.footer3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

.footer2,
.footer3 {
    width: 70px;
    padding-left: 2em;
}

.nav1_1 {
    color: rgba(25, 24, 37, 0.75);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 200%;
}
    
.nav1_2 {
    color: #191825;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 200%;
}   

.nav1_1,
.nav1_2 {
    text-decoration: none;
    font-style: normal;
}

@media (min-width: 10px) and (max-width: 400px)  {
    .preview_image {

    }
    html {
        font-size:25%;
    }
}

@media (min-width: 401px) and (max-width: 800px) {
    html {
        font-size:45%;
    }
}

@media (min-width: 801px) and (max-width: 1000px) {
    html {
        font-size:80%;
    }
}
/* для таких экранов, как, например, Nest Hub Max */

