.container {
    display: grid;
    width: 100vw;
    height: 70vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
    "header header header"
    "content content sidebar"
    "content content sidebar"
    "content content sidebar"
    "content content sidebar"
    "footer footer footer";
}

.header {
    grid-area: header;
    background-color: rgba(128, 128, 128, 0.385);
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 2%;
}

.content {
    display: grid;
    grid-area: content;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: rgba(233, 220, 123, 0.484);
    padding: 2%;
}

.content1 {
    grid-area: 1/1/2/3;
}

.content2 {
    grid-area: 3/1/4/2;
}

.content3 {
    grid-area: 3/2/4/3;
}

.content4 {
    grid-area: 4/1/5/3;
    font-weight: bold;
    text-align: center;
    margin: 1%;
    padding: 2%;
}

.content1,
.content2,
.content3 {
    margin: 2%;
    text-align: center;
    font-weight: bold;
}

.content2,
.content3 {
    padding: 4%;
}

.content2,
.content3,
.content4 {
    background-color: rgba(241, 208, 58, 0.627)
}

.sidebar {
    grid-area: sidebar;
    background-color: rgba(113, 180, 65, 0.484);
    font-weight: bold;
    text-align: center;
    padding: 10%;
}

.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba(128, 128, 128, 0.385);
    color: black;
    text-align: center;
    align-content: center;
}

.footer1,
.footer2,
.footer3,
.footer4 {
    font-weight: bold;
    background-color: white;
    text-align: center;
    margin: 5%;
    padding: 5%;
}

@media screen and (max-width: 400px) {
    .footer {
        display: none;
    }
}

@media screen and (min-width: 700px) {
	.footer,
    .header {
        font-size: 90%;
        color: red;
	}
}
/* для таких экранов, как, например, Galaxy Tab S4 */

@media screen and (min-width: 1000px) {
	.footer,
    .header {
        font-size: 150%;
        color: blue;
	}
}
/* для таких экранов, как, например, Nest Hub Max */